.course-strip{
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 16%);
    top: 0;
    bottom: auto;
    padding: 0.5rem 2.4rem;
    color: #fff;
    background-color: #1c1d1f;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0,0,.38,.9);
    color: white;
    background-color: black;
    height: 60px;
}

.mainWrapper{
    position: relative;
    
}
.sideComponent{
    position: absolute;
left: 67%;
    width: 30vw;
    border: 1px solid #d1d7dc;
    margin: 2%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%) ;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
    background-color: white;
    padding-top: 1%;
}
.course-1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
    padding: 2%;
}
.course-2{
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}
.cartBtn{
    width: 100%;
    background-color: #1c1d1f;
    color: #fff;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}
.cartBtn :hover{
    background-color: #1c1d1f;
    color: #fff;
}
.buyNowBtn{
    width: 100%;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.video-desc{
   padding: 20px;
}
.para{
    font-size: 12px;
    text-align: center;
}
.listele{
    list-style: none;
}
.last-links{
    text-decoration: underline;
    font-weight: 500;
}
.sideComponent2{
    position: fixed;
    left: 67%;
    width: 30vw;
    top: 2%;
    border: 1px solid #d1d7dc;
    background-color: white;
  
}
.sideComponentImgAfterScroll{
    display: none;
    height: 0;
    width:0;
    padding-bottom: 5%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
}

.instructor-img{
    border-radius: 50%;
    height: 60%;
}

.styled{
    color: #cec0fc
}
.spaced{
    margin-right: 2%;
}
.stars{
    color: #f3ca8c ;
}
.styled-2{
    color: #5624d0;;
}

@media(max-width: 768.9px){
    .sideComponent{
        display: none;
    }
    .sideComponent2{
        display: none;
    }
}
@media(min-width: 768.9px){
   .course-strip{
    display: none;
   }
   .hideDesktop{
    display: none;
   }
}

.learn-box{
    margin: 10px 2px;
}
.instructor-desc{
    margin: 2px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
   img{
    max-width: 120px;
    max-height: 120px;
   }
   .col1{
    width: 40%;
   }
   .col2{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
}
.long-desc{
    margin: 2px;
}
.author-desc{
    margin: 10px 2px;
}
.pl-5{
    padding-left: 5px;
}