.addToCart{
    text-align: center;
    background-color: #a435f0;
    color:white;
    border:0;
    cursor: pointer;
    width: 50%;
}
.checkOutBtn{
    text-align: center;
    background-color: #a435f0;
    color:white;
    border:0;
    cursor: pointer;
    width: 70%;
}