
    
.mainFormContainer{
   
    max-width: 100%;
    width: 40rem;
    padding: 4.8rem 2.4rem;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;

}
.form-title{
    padding: 10px;
   
}
.form-label{
    height: 4rem;
    border: 2px solid black;
    border-radius: 0%;
}
.formBtn{
    width: 100%;
    background-color: #a435f0;
    border: 1px solid white;
    border-radius: 0%;
}
.form-control-label{
    border: 0;
}
.formBtn:hover{
    background-color: #a435f0;
}
