.mainContainer{
    color:black;
    h5{
        padding: 0 !important;
    }
}
.discount{
    text-decoration: line-through;
}
.original{
    font-weight: 500;
}
.rating{
    color:#f3ca8c;
    font-weight: 650;
    margin-right: 5px;
}
.rating-wrapper{
    display: flex;
}
.bold{
    font-weight: 600;
}