.mainContainer{
    color:black;
}
.discount{
    text-decoration: line-through;
}
.original{
    font-weight: 500;
}
.rating{
    color:#f3ca8c;
    font-weight: 650;
    margin-right: 5px;
}
.rating-wrapper{
    display: flex;
}