.cart-empty{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    justify-content: center;
}
a  { color: inherit; } 
a::hover {
    color: black; 
}
.cartPage{
    min-height: 60vh;
  
}

@media screen and (max-width: 480px) {
    img {
        max-width: 300px;
        max-height: 300px;
    }
    .checkoutMobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
  }