.first{

   width: fit-content;
   
}

.contents{
    background-color: black;
    color: white;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    padding: 5px !important;
    overflow: hidden;
}
