.dropdown-toggle::after {
  content: none !important;
}
.dropdown-toggle::before {
  content: none !important;
}

.dropstart {
  background-color: black;
  border-radius: 50%;

}
.navBarBtn {
  border-radius: 50%;
}
.loginBtns .btn-primary {
  --bs-btn-color: #fff;
   --bs-btn-bg: black !important; 
   --bs-btn-border-color:black !important;
   --bs-btn-border-radius: 50% !important;
}