.dropdown-toggle::after {
  content: none !important;
}
.dropdown-toggle::before {
  content: none !important;
}

.dropstart {
  background-color: black;
  border-radius: 50%;

}
.navBarBtn {
  border-radius: 50%;
  }
.loginBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.user-btn{
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  
